body {
   background: black;
   color: white;
}

a {
   text-decoration: none;
}

#scores {
  font-size: 2em;
  height: 1.5em;
  width: 100%;
  text-align: center;
}

.score {
  font-weight: bold;
}

.game-board {
   margin: 0;
   display: flex;
   flex-flow: row;
   justify-content: space-around;
}

.category {
   padding: 0;
   list-style: none;
   margin: 0;
   margin-bottom: 10px;

   display: flex;
   width: 15%;

   flex-flow: column;
   justify-content: space-around;
}

.display-box {
   background: blue;
   color: yellow;
   padding: 5px;
   width: 100%;
   height: 150px;
   margin-top: 10px;
   border-radius: 4px;

   line-height: 150px;
   font-weight: bold;
   font-size: 3em;
   text-align: center;
   text-shadow: 3px 3px #000000;
}

.question-box:hover {
  cursor: pointer;
}

.category-title {
   color: white;
   height: 100px;
   font-size: x-large;
   display: flex;
}

.category-title-content {
   margin: auto;
   line-height: 1em;
}

.modal {
  background: blue;
  color: white;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  max-width: 1000px;
  width: 90%;
}

.question-text {
  display: none;
}

.answer-text {
  display: none;
}

button {
  background-color: blue;
  font-size: 0.75em;
  color: white;
  border: 2px solid white;
}
